
.logo{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;
}
.muñeco{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.textarea{
   
    outline: none;
    resize: none;
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
    /* identical to box height, or 48px */
    
    
    /* Dark blue/dark-blue-300 */
    
    color: #0A3871;

    /*expansion del textarea*/
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0px;
    
}
::placeholder{
    font-family: 'arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
}
.infotext{
    width: 205  px;
    height: 18px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    
    
    /* Gray/gray-400 */
    
    color: #495057;
    
    opacity: 0.8;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.boton_encriptar{
/* fuente */
width: 280px;
height: 19px;

font-family: 'arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;


/* Auto layout */
border: none;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.boton_desencriptar{
    /*fuente*/
    width: 280px;
height: 19px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;

    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    
    /* Light gray */
    
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
